*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    
}
#starting{
    background: #fff url(/home/src/images/running.gif) no-repeat center center;
    z-index: 100;
    width: 100%;
    height: 100vh; 
    position: fixed;   
    top: 0;   
    bottom: 0;
}
/*SERVICES*/
.services-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.services-nav .navs{
    display: flex;
    background-color: grey;
    justify-content: space-around;
    padding: 10px;
}
.navs>h3 >a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
.navs>h3 >a:hover{
color: greenyellow;
}
.services-nav> h1 >a{
    color: greenyellow;
    text-decoration: none;
    font-size: 40px;
    }
#pr{
    color: #ff7200;
}

.fruits{
    background-color: lightcyan;
    width: 100%;
}
.fruits-pro, .food-pro, .drinks-pro{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
margin-bottom: 20px;
padding-bottom: 20px;
padding-left: 10px;
}

.packs{
    text-align: center;
}
.food{
    background-color: antiquewhite;
    width: 100%;
    flex:1;
}
.drinks{
    background-color:lightgrey;
    width: 100%;
}
.drinks img, .food-pro img, .fruits img{
    width: 300px;
    padding: 10px;
}
h1{
    padding: 10px;
    color: #ff7200;
}
@media (max-width:578px){
    .navs{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
}