{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Join us</title>
    <link rel="stylesheet" href="{% static 'section.css' %}" />
</head>
<body>
    <div class="join-wrapper">
        <h1>
            <a href="{% url 'home' %}" class="join">BETA<span id="pr">MARKETS</span></a>
        </h1>

        <!-- Start of the form -->
        <form method="post" action="{% url "join" %}">
            {% csrf_token %}

            <div class="join-form">
                <div class="login">
                    <img src="{% static 'images/userm.jpg' %}" alt="User icon" />
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="message {{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
                    
                    <input
                        type="email"
                        class="input"
                        name="email"
                        placeholder="EMAIL"
                        aria-label="Email"
                        required
                    />
                    <input
                        type="password"
                        class="input"
                        name="password"
                        placeholder="PASSWORD"
                        aria-label="Password"
                        required
                    />
                    <button id="login-btn" type="submit">LOG IN</button>

                    <div class="more-option">
                        <p id="dont">Don't have an account?</p>
                        <p><a href="{% url "signup" %}" id="signup">Sign up</a></p>
                    </div>
                </div>
            </div>
        </form>
        <!-- End of the form -->
    </div>
    <script src="{% static 'section.js' %}"></script>
</body>
</html>
